ion-content {
  --background: linear-gradient(-45deg, #F5D0A9 50%, #CEECF5 50% );


  ion-card-content {
    font-weight: 70;
    font-size: 20px;
    color: #010100;
    }

  ion-label {
    font-weight: 700;
    font-size: 20px;
    color: #010100;
  }

  ion-card{
    border: 2px solid #010100;	;
  }


}
