<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>
   <ion-title>Contactos</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

  <ion-card-header>
    <ion-card-title>!Nuestras redes sociales!</ion-card-title>
  </ion-card-header>


  <ion-card>

    <ion-item>
      <ion-icon name="logo-facebook" slot="start"> Facebook: Comida Mexicana</ion-icon>

    </ion-item>

    <ion-card-content>
      Facebook: Comida Mexicana
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="logo-youtube" slot="start"></ion-icon>

    </ion-item>

    <ion-card-content>
      YouTube: Comida Mexicana
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="logo-whatsapp" slot="start"></ion-icon>

    </ion-item>

    <ion-card-content>
      WhatsApp:9988558892
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="mail-open-sharp" slot="start"></ion-icon>

    </ion-item>

    <ion-card-content>
      <h3>correo electronico<br>comida@mexicana.com</h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="phone-portrait-sharp" slot="start"></ion-icon>

    </ion-item>

    <ion-card-content>
      <h3>Número de teléfono<br>9982316283</h3>
    </ion-card-content>
  </ion-card>



</ion-content>



