<ion-header>
  <ion-toolbar class="header-background-color">
   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>
   <ion-title>Postres</ion-title>
  </ion-toolbar>
 </ion-header>


 <ion-content>

   <ion-card>
     <ion-card-header>
       <ion-card-title>Trufas de cava y frambuesa</ion-card-title>
       <br>
       <ion-img src="https://i.blogs.es/9eddfa/trufas_cava_frambuesa/1366_2000.jpg"></ion-img>
     </ion-card-header>

   </ion-card>

   <ion-card>
     <ion-card-header>
       <ion-card-title>Helados, sorbetes y polos</ion-card-title>
       <br>
       <ion-img src="https://i.blogs.es/d4548a/1366_2000/1366_2000.jpeg"></ion-img>
     </ion-card-header>

   </ion-card>

   <ion-card>
     <ion-card-header>
       <ion-card-title>Cakes exprés en microondas</ion-card-title>
       <br>
       <ion-img src="https://i.blogs.es/14286d/1366_2000-4-/1366_2000.jpg"></ion-img>
     </ion-card-header>

   </ion-card>

   <ion-card>
     <ion-card-header>
       <ion-card-title>Semifrío de cerezas, arándanos y yogur</ion-card-title>
       <br>
       <ion-img src="https://i.blogs.es/4149a8/semifrio-cerezas-arandanos1/1366_2000.jpg"></ion-img>
     </ion-card-header>

   </ion-card>

   <ion-card>
     <ion-card-header>
       <ion-card-title>Polos de leche condensada y limón</ion-card-title>
       <br>
       <ion-img src="https://i.blogs.es/acc7ab/650_1000_receta-polos-leche-condensada-limon/1366_2000.jpg"></ion-img>
     </ion-card-header>

   </ion-card>

   <ion-card>
     <ion-card-header>
       <ion-card-title>Sorbete de mango y naranja</ion-card-title>
       <br>
       <ion-img src="https://i.blogs.es/69a32f/sorbete/1366_2000.jpg"></ion-img>
     </ion-card-header>

   </ion-card>

   <ion-card>
     <ion-card-header>
       <ion-card-title>mousses</ion-card-title>
       <br>
       <ion-img src="https://i.blogs.es/6a6f53/1366_2000-11-/1366_2000.jpg"></ion-img>
     </ion-card-header>

   </ion-card>

   <ion-card>
     <ion-card-header>
       <ion-card-title>Crema de cheesecake de yogur y moras</ion-card-title>
       <br>
       <ion-img src="https://i.blogs.es/5acd08/chupitocheesecakedemoras_1024_ma/1366_2000.jpg"></ion-img>
     </ion-card-header>

   </ion-card>

   <ion-card>
     <ion-card-header>
       <ion-card-title>Vasitos de crema de queso fresco y mascarpone con fresas</ion-card-title>
       <br>
       <ion-img src="https://i.blogs.es/9bb6c5/vasitos-mascarpone-navidad/1366_2000.jpg"></ion-img>
     </ion-card-header>

   </ion-card>



 </ion-content>



