<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>
   <ion-title>Quienes Somos</ion-title>
  </ion-toolbar>
 </ion-header>


 <ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Conocenos</ion-card-title>
      <br>
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdN-c2CAcl7qY7CUDIBZh9Wj22yT_cGmhA_A&usqp=CAU"></ion-img>
    </ion-card-header>

    <ion-card-content>
      <h3>
        Descubre los platos más exquisitos, fáciles y económicos que puedas imaginar.
        <br>
        Comida Mexicana es una sitio web que ofrece acceso a gran variedad de platillos de origen mexicano de preparacion sencilla,
        aprenderás como cocinar dentro de una cocina y podras plantear tus preguntas
        en nuestro consultorio gourmet donde nuestro cocinero virtual podrá ayudarte con tus preparaciones.
        ¡También te será posible adquirir las guías gastronómicas más populares solo por un precio más accesible!
        <br>
        Adéntrate en los misterios de la cocina mexicana sin quemar más cacerolas.
        </h3>
    </ion-card-content>
  </ion-card>

</ion-content>
